@using GuitarStarBackOffice.Shared
@layout MainLayout
@inject Radzen.DialogService dialogService

<RadzenContent Container="main">

    <ChildContent>
        <div class="row">
            <div class="col-md-12">
                <RadzenTemplateForm TItem="Category" Data="@newCategory" Submit="@HandleAdd">
                    <ChildContent>
                        <DataAnnotationsValidator />
                        <div style="margin-bottom: 1rem" class="flex-column">
                            <RadzenLabel Text="Название" style="width: 100%" />
                            <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@newCategory.CategoryName" />
                            <ValidationMessage For="@(() => newCategory.CategoryName)" />
                        </div>

                        <div class="row footer">
                            <RadzenButton ButtonType="Radzen.ButtonType.Submit" Icon="save" Disabled="@(IsActive)" ButtonStyle="ButtonStyle.Primary" Text="Сохранить" />
                        </div>
                    </ChildContent>
                </RadzenTemplateForm>
            </div>
        </div>
    </ChildContent>
</RadzenContent>

