@page "/checkout"
@using Portal.Shared.Common

@if (cartProducts == null)
{
    <LoadingScreen />
}
else
{
    <section class="section-pagetop bg">
        <div class="container">
            <h2 class="title-page text-center">Оформление заказа</h2>
        </div>
    </section>

    <section class="section-content padding-y bg">
        <div class="container">
            <div class="row">

                <aside class="col-md-6">
                    <div class="card mb-3">
                        <article class="card-body">
                            <header class="mb-4">
                                <h4 class="card-title">Ваша корзина</h4>
                            </header>
                            <div class="row">

                                @foreach (var product in cartProducts)
                                {
                                    <div class="col-md-6">
                                        <figure class="itemside  mb-3">
                                            <div class="aside">
                                                @if (product.Product?.FileImage != null)
                                                {
                                                    <img class="border img-xs" src="data:image/jpeg;base64, @product.Product.FileImage?.Data" />

                                                }
                                                else
                                                {
                                                    <img src="https://www.mynameisdan.co.uk/wp-content/uploads/2016/07/PS4-Case.png" class="border img-xs" />
                                                }
                                            </div>
                                            <figcaption class="info">
                                                <p> @product.Product?.ProductName </p>
                                                <span> @product.ElementsCount x @product.Product?.ProductPrice₽ = Итого: @(product.Product?.ProductPrice * product.ElementsCount)₽ </span>
                                            </figcaption>
                                        </figure>
                                    </div>
                                }

                            </div>
                        </article>
                        <article class="card-body border-top">

                            <dl class="row">
                                <dt class="col-sm-8">Кол-во элементов по позициям: <span class="float-right text-muted">@cartProducts.Count() шт</span></dt>
                                <dd class="col-sm-4 text-right"><strong>@totalPrice₽</strong></dd>

                                <dt class="col-sm-8">Скидка: <span class="float-right text-muted">0%</span></dt>
                                <dd class="col-sm-4 text-success text-right"><strong>0₽</strong></dd>

                                <dt class="col-sm-8">Способ доставки: <span class="float-right text-muted">Стандартная доставка</span></dt>
                                <dd class="col-sm-4 text-right"><strong>Бесплатно</strong></dd>

                                <dt class="col-sm-8">Налог: <span class="float-right text-muted">0%</span></dt>
                                <dd class="col-sm-4 text-right text-danger"><strong>0₽</strong></dd>

                                <dt class="col-sm-8">Итого:</dt>
                                <dd class="col-sm-4 text-right"><strong class="h5 text-dark">@totalPrice₽</strong></dd>
                            </dl>

                        </article>
                    </div>
                </aside>

                <aside class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">

                            <h4 class="card-title mb-4">Информация о доставке</h4>
                            <EditForm Model="address" OnValidSubmit="SubmitAsync">

                                <DataAnnotationsValidator />
                                <ValidationSummary />

                                <div class="form-group">
                                    <label class="custom-control custom-radio custom-control-inline">
                                        <input class="custom-control-input" checked="" type="radio" name="gender" value="option1">
                                        <span class="custom-control-label"> Стандартная доставка </span>
                                    </label>
                                </div>

                                <div class="form-row">
                                    <div class="col form-group">
                                        <label>Email</label>
                                        <InputText @bind-Value="email" type="email" class="form-control" />
                                    </div>
                                    <div class="col form-group">
                                        <label>Телефон</label>
                                        <InputText @bind-Value="address.PhoneNumber" type="tel" class="form-control" />
                                    </div>
                                    <div class="col form-group">
                                        <label>ФИО</label>
                                        <InputText @bind-Value="address.CustomerName" type="text" class="form-control" />
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Страна</label>
                                        <InputSelect @bind-Value="address.Country" id="inputState" class="form-control">
                                            <option value="Russia">Russia</option>
                                            <option value="United States">США</option>
                                            <option value="Bulgaria" selected="">Болгария</option>
                                            <option value="India">Индия</option>
                                            <option value="Afghanistan">Китай</option>
                                        </InputSelect>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Область</label>
                                        <InputText @bind-Value="address.State" type="text" class="form-control" />
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col form-group">
                                        <label>Город</label>
                                        <InputText @bind-Value="address.City" type="text" class="form-control" />
                                    </div>
                                    <div class="col form-group">
                                        <label>Индекс</label>
                                        <InputText @bind-Value="address.PostalCode" type="text" class="form-control" />
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label>Адрес</label>
                                    <InputTextArea @bind-Value="address.Description" class="form-control" rows="2"></InputTextArea>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block"> Оформить заказ </button>
                                </div>

                            </EditForm>
                        </div>
                    </div>
                </aside>

            </div>
        </div>
    </section>
}
