@using GuitarStarBackOffice.Shared
@layout MainLayout
@inject Radzen.DialogService dialogService

<RadzenContent Container="main">

    <ChildContent>
        <div class="row">
            <div class="col-md-12">
                <RadzenTemplateForm TItem="Shipment" Data="@newShipment" Submit="@HandleAdd" EditContext="editContext">
                    <ChildContent>
                        <DataAnnotationsValidator />
                        <div style="margin-bottom: 1rem" class="flex-column">
                            <RadzenLabel Text="Дата поставки" style="width: 100%" />
                            <RadzenDatePicker  @bind-Value="@newShipment.ShipmentDate"  />
                            <ValidationMessage For="@(() => newShipment.ShipmentDate)" />
                        </div>

                        <div style="margin-bottom: 1rem" class="flex-column">
                            <RadzenLabel Text="Поставщик" style="width: 100%" />
                            <RadzenDropDown Data="@suppliers" @bind-Value="@(newShipment.SupplierId)"
                                            ValueProperty="IdSupplier" TextProperty="SupplierName" />
                            <ValidationMessage For="@(() => newShipment.SupplierId)" />
                        </div>

                        <div class="row footer">
                            <RadzenButton ButtonType="Radzen.ButtonType.Submit" Disabled="IsActive" Icon="save" ButtonStyle="ButtonStyle.Primary" Text="Сохранить">

                            </RadzenButton>
                        </div>
                    </ChildContent>
                </RadzenTemplateForm>
            </div>
        </div>
    </ChildContent>
</RadzenContent>