@using GuitarStarBackOffice.Shared
@layout MainLayout
@inject Radzen.DialogService dialogService

<RadzenContent Container="main">

    <ChildContent>
        <div class="row">
            <div class="col-md-12">
                <RadzenTemplateForm TItem="Shipment" Data="@editedShipment" Submit="@HandleEdit" EditContext="editContext">
                    <ChildContent>
                        <DataAnnotationsValidator />
                        <div style="margin-bottom: 1rem" class="flex-column">
                            <RadzenLabel Text="Дата поставки" style="width: 100%" />
                            <RadzenDatePicker @bind-Value="@editedShipment.ShipmentDate" />
                            <ValidationMessage For="@(() => editedShipment.ShipmentDate)" />
                        </div>

                        <div style="margin-bottom: 1rem" class="flex-column">
                            <RadzenLabel Text="Поставщик" style="width: 100%" />
                            <RadzenDropDown Data="@suppliers" @bind-Value="@(editedShipment.SupplierId)"
                                            SelectedItem="1"
                                            ValueProperty="IdSupplier" TextProperty="SupplierName" />
                            <ValidationMessage For="@(() => editedShipment.SupplierId)" />

                        </div>

                        <div class="row footer">
                            <RadzenButton Disabled="IsActive" ButtonType="Radzen.ButtonType.Submit" Icon="save" ButtonStyle="ButtonStyle.Primary" Text="Сохранить">

                            </RadzenButton>
                        </div>
                    </ChildContent>
                </RadzenTemplateForm>
            </div>
        </div>
    </ChildContent>
</RadzenContent>