@*@page "/edit-user"*@
@layout MainLayout

@using GuitarStarBackOffice.Shared
@using Radzen
@using Radzen.Blazor

<h3>EmployeeEditor</h3>

<RadzenContent Container="main">

    <ChildContent>
        <div class="row">
            <div class="col-md-12">
                <RadzenTemplateForm TItem="Employee" Data="@editedEmployee" Submit="@HandleEdit" EditContext="editContext">
                    <ChildContent>
                        <DataAnnotationsValidator />
                        <div style="margin-bottom: 1rem" class="flex-column">
                            <RadzenLabel Text="Имя" style="width: 100%" />
                            <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@editedEmployee.Name" />
                            <ValidationMessage For="@(() => editedEmployee.Name)" />
                        </div>

                        <div style="margin-bottom: 1rem" class="flex-column">
                            <RadzenLabel Text="Фамилия" style="width: 100%" />
                            <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@editedEmployee.Surname" />
                            <ValidationMessage For="@(() => editedEmployee.Surname)" />
                        </div>

                        <div style="margin-bottom: 1rem" class="flex-column">
                            <RadzenLabel Text="Отчество" style="width: 100%" />
                            <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@editedEmployee.Patronymic" />
                            <ValidationMessage For="@(() => editedEmployee.Patronymic)" />
                        </div>

                        <div style="margin-bottom: 1rem" class="flex-column">
                            <RadzenLabel Text="Почта" style="width: 100%" />
                            <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@editedEmployee.Email" />
                            <ValidationMessage For="@(() => editedEmployee.Email)" />
                        </div>

@*                        <div style="margin-bottom: 1rem" class="flex-column">
                            <RadzenLabel Text="Пароль" style="width: 100%" />
                            <RadzenPassword style="display: block; width: 100%" @bind-Value="@editedEmployee.Password" />
                            <ValidationMessage For="@(() => editedEmployee.Password)" />
                        </div>
*@

                        <div style="margin-bottom: 1rem" class="flex-column">
                            <RadzenLabel Text="Серия паспорта" style="width: 100%" />
                            <RadzenMask Name="PasportSeries" Mask="****" CharacterPattern="[0-9]" Style="display: block; width: 100%" @bind-Value="@editedEmployee.PasportSeries" />
                            <ValidationMessage For="@(() => editedEmployee.PasportSeries)" />
                        </div>

                        <div style="margin-bottom: 1rem" class="flex-column">
                            <RadzenLabel Text="Номер паспорта" style="width: 100%" />
                            <RadzenMask Name="PasportNumber" Mask="******" CharacterPattern="[0-9]" Style="display: block; width: 100%" @bind-Value="@editedEmployee.PasportNumber" />
                            <ValidationMessage For="@(() => editedEmployee.PasportNumber)" />
                        </div>

                        <div style="margin-bottom: 1rem" class="flex-column">
                            <RadzenLabel Text="Дата рождения" style="width: 100%" />
                            <RadzenDatePicker @bind-Value="@editedEmployee.DateOfBirth"  />
                            <ValidationMessage For="@(() => editedEmployee.DateOfBirth)" />
                        </div>

                        <div style="margin-bottom: 1rem" class="flex-column">
                            <RadzenLabel Text="Дата начала работы" style="width: 100%" />
                            <RadzenDatePicker @bind-Value="@editedEmployee.DateOfEmployment" />
                            <ValidationMessage For="@(() => editedEmployee.DateOfEmployment)" />
                        </div>

                        <div style="margin-bottom: 1rem" class="flex-column">
                            <RadzenLabel Text="Роль пользователя" style="width: 100%" />
                            <RadzenDropDown Name="Post" Data="@posts" @bind-Value="@(editedEmployee.PostId)"
                                            ValueProperty="IdPost" TextProperty="PostName" />
                            <ValidationMessage For="@(() => editedEmployee.PostId)" />

                        </div>

                        <div class="row footer">
                            <RadzenButton ButtonType="Radzen.ButtonType.Submit"
                                          Icon="save" ButtonStyle="ButtonStyle.Primary" Disabled="@IsActive" Text="Сохранить" />
                        </div>
                    </ChildContent>
                </RadzenTemplateForm>
            </div>
        </div>
    </ChildContent>
</RadzenContent>