@using GuitarStarBackOffice.Shared
@using Radzen
@using Radzen.Blazor

<h3>EmployeeEditor</h3>

<RadzenContent Container="main">

    <ChildContent>
        <div class="row">
            <div class="col-md-12">
                <RadzenTemplateForm TItem="Employee" Data="@employee" >
                    <ChildContent>
                        <DataAnnotationsValidator/>
                        <div style="margin-bottom: 1rem" class="flex-column">
                            <RadzenLabel Text="Почта" style="width: 100%" />
                            <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@employee.Email" />
                            <ValidationMessage For="@(() => employee.Email)" />
                        </div>

                        <div style="margin-bottom: 1rem" class="flex-column">
                            <RadzenLabel Text="Пароль" style="width: 100%" />
                            <RadzenPassword style="display: block; width: 100%" @bind-Value="@Password" />
                           <ValidationMessage For="@(() => Password)"/>
                        </div>

                        <div class="row footer">
                            <RadzenButton ButtonType="Radzen.ButtonType.Submit"
                                          Icon="save" ButtonStyle="ButtonStyle.Primary" Disabled="@(!IsActive)" Text="Сохранить" Click="HandleEdit" />
                        </div>
                    </ChildContent>
                </RadzenTemplateForm>
            </div>
        </div>
    </ChildContent>
</RadzenContent>