@using GuitarStarBackOffice.Shared
@layout MainLayout
@inject Radzen.DialogService dialogService

<RadzenContent Container="main">

    <ChildContent>
        <div class="row">
            <div class="col-md-12">
                <RadzenTemplateForm TItem="Order" Data="@editedOrder" Submit="@HandleEdit" EditContext="editContext">
                    <ChildContent>
                        <DataAnnotationsValidator />

                        <div style="margin-bottom: 1rem" class="flex-column">
                            <RadzenLabel Text="Сотрудник" style="width: 100%" />
                            <RadzenDropDown Data="@employees" @bind-Value="@(editedOrder.EmployeeId)"
                                            SelectedItem="1"
                                            ValueProperty="IdEmployee" TextProperty="Surname" />
                            <ValidationMessage For="@(() => editedOrder.EmployeeId)" />

                        </div>

                        <div style="margin-bottom: 1rem" class="flex-column">
                            <RadzenLabel Text="Статус оплаты" style="width: 100%" />
                            <RadzenDropDown Data="@paymentStatuses" @bind-Value="@(editedOrder.payementStatus)"
                                            SelectedItem="1"
                                            ValueProperty="PaymentStatusValue" TextProperty="PaymentStatusName" />
                            <ValidationMessage For="@(() => editedOrder.payementStatus)" />

                        </div>

                        <div style="margin-bottom: 1rem" class="flex-column">
                            <RadzenLabel Text="Статус работ" style="width: 100%" />
                            <RadzenDropDown Data="@orderStatuses" @bind-Value="@(editedOrder.orderStatus)"
                                            SelectedItem="1"
                                            ValueProperty="OrderStatusValue" TextProperty="OrderStatusName" />
                            <ValidationMessage For="@(() => editedOrder.orderStatus)" />

                        </div>


                        <div class="row footer">
                            <RadzenButton ButtonType="Radzen.ButtonType.Submit" Icon="save" ButtonStyle="ButtonStyle.Primary" Text="Сохранить" />
                        </div>
                    </ChildContent>
                </RadzenTemplateForm>
            </div>
        </div>
    </ChildContent>
</RadzenContent>
